@import url("estilos/perfil.css");
@import url("estilos/conhecimentos.css");
@import url("estilos/projetos.css");

:root{
    --background--color: #EBECEE;
    --font--padrao:  'Roboto', sans-serif;
    --branco: #FFFFFF;
    --azul--padrao: #63adf2;
    --azul--secundario: #A7CCED;
    --amarelo: #f3ca40;
    --cinza: #4c5b61;
    --vermelho:#D00000

}

body{
    background-color: var(--background--color);
    color: black;
    font-family: var(--font--padrao);

}

.container h2{
    font-weight: 700;
    font-size: 40px;
    margin: 50px 0;
    color: var(--azul--padrao);
}

.container__projetos{
    justify-content: center;
    text-align: center;
}

.lista_projetos{
    display: flex;
}

.projetos__item{
    margin: auto;
}

.projetos__item img{
    width: 500px;
    height: 300px;
    border-radius: 25px;
}
